<%- include('./includes/head')  %>

<%- include('./includes/nav') %>

<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>

        <div class="col-lg-8 my-3">
            <h1 class="text-center">Contatos</h1>
            <p class="text-center lead">Crie ou edite seus contatos</p>

            <%- include('includes/messages') %>

            <% if(typeof contato !== 'undefined') { %>
                <form action="/contatos/edit/<%= contato._id %>" method="POST">
            <% } else { %>
                <form action="/contatos/register" method="POST">
            <% } %>
                <input type="hidden" name="_csrf" value=<%= csrfToken %> >
                <div class="form-group">
                    <label>Nome</label>
                    <input value="<%= contato.name %>" type="text" class="form-control" name="nome">
                </div>
                <div class="form-group">
                    <label>Sobrenome</label>
                    <input value="<%= contato.lastName %>"  type="text" class="form-control" name="sobrenome">
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input value="<%= contato.email %>"  type="email" class="form-control" name="email">
                </div>
                <div class="form-group">
                    <label>Telefone</label>
                    <input value="<%= contato.telephone %>" type="tel" class="form-control" name="telefone">
                </div>
                <button type="submit" class="btn btn-primary">Criar</button>
            </form>

        </div>

        <div class="col-lg-2"> </div>
    </div>
</div>

<%- include('./includes/footer')  %>    