<%- include('./includes/head')  %>

<%- include('./includes/nav') %>

<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>

        <div class="col-lg-8 my-3">
            <h1 class="text-center">Contatos</h1>
            <p class="text-center lead">Lista de contatos</p>

            <%- include('includes/messages') %>

            <% if(contacts.length > 0) { %>

            <div class="responsive-table">
                <table class="table my-3">
                    <% contacts.forEach((contato) => { %>
                        <tr>
                            <td> <%= contato.name %> </td>
                            <td> <%= contato.lastName%></td>
                            <td> <%= contato.email %> </td>
                            <td> <%= contato.telephone %> </td>
                            <td> <a href="/contatos/index/<%= contato._id %>"> Editar </a></td>
                            <td> <a class="text-danger" href="/contatos/delete/<%= contato._id %>"> Excluir </a></td>
                        </tr>
                    <% }); %>
                </table>
            </div>
            <% } else { %>
                <p class="text-center lead">Não existem contatos na sua agenda ainda</p>
            <% } %>
        </div>

        <div class="col-lg-2"> </div>
    </div>
</div>

<%- include('./includes/footer')  %>    